.card {
    margin-top: 10px;
}


.cards {
    background-color: var(--white);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 4 / 3;
}

.div2 {
    grid-area: 1 / 3 / 2 / 6;
}

.div3 {
    grid-area: 2 / 3 / 4 / 6;
}

.div4 {
    grid-area: 4 / 1 / 5 / 4;
}

.div5 {
    grid-area: 4 / 4 / 5 / 6;
}

@media (max-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 3;
    }

    .div2 {
        grid-area: 1 / 3 / 2 / 5;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 5;
    }

    .div4 {
        grid-area: 2 / 3 / 3 / 5;
    }

    .div5 {
        grid-area: 4 / 1 / 5 / 5;
    }
}

@media (max-width: 425px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div2 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
    }
}