.card {
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  background-color: var(--white);
  border-radius: 50px 35px 50px 50px;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.card__grid {
  display: grid;
  grid-template-columns: 24.9% 24.9% 16% 28%;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.sliderCard {
  grid-area: 1 / 1 / 4 / 3;
}

.card__main {
  grid-area: 1 / 3 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__text {
  grid-area: 2 / 3 / 4 / 6;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 37px;
}

.card__price {
  grid-area: 4 / 1 / 5 / 4;
  display: flex;
  gap: 16px;
  align-items: end;
  margin-top: 25px;
}

.card__btn {
  grid-area: 4 / 4 / 5 / 6;
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
}

.card__price > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 12px;
}

.card__logo {
  display: flex;
  gap: 24px;
  align-items: center;
}

.card__logo > img {
  width: 142px;
  height: 100%;
}

.card__like {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 40px;
  background: var(--bg-gr);
  padding: 16px 24px;
}
.card__like > span {
  font-size: 20px;
}

.card__item > p {
  color: var(--black);
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
}

.card__item > span {
  color: var(--black-gr);
  font-size: 20px;
  font-weight: 500;
}

.card__conditions {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 1px 10px 25px;
  border-radius: 40px;
  background: var(--bg-gr);
  width: 205px;
  height: 80px;
  box-sizing: border-box;
}

.card__conditions > div {
  display: flex;
  justify-content: center;
}

.conditions-price {
  display: flex;
  flex-direction: column;
}

.conditions-price > p {
  color: var(--black-gr);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 5px;
}

.conditions-price > span {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.card__btn > button {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.btn-franshise {
  padding: 27px 42px;
}

.card-slider > img {
  border-radius: 35px;
}

.label {
  position: absolute;
  top: -57px;
  right: 68px;
  width: 173px;
  height: 59px;
  background-color: var(--white);
  border-radius: 30px 30px 0px 0px;
  font-family: "Unbounded";
  font-weight: 600;
  font-size: 48px;
}

.label > div {
  padding: 10px 0 0 52px;
  box-sizing: border-box;
}

@media (max-width: 1360px) {
  .card__grid {
    grid-template-columns: 20.9% 20.9% 32% 254px;
    grid-column-gap: 0px;
  }

  .card__price > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 12px;
  }

  .btn-franshise {
    padding: 27px 20px;
  }

  .card__main {
    padding-left: 10px;
  }

  .card__conditions {
    height: 58px;
  }

  .conditions-price {
    margin-top: 13px;
  }
  .conditions-price > p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 15px;
  }
  .conditions-price > span {
    font-size: 14px;
  }
  .card__text {
    font-size: 20px;
    margin-top: 20px;
    padding-left: 10px;
    margin-top: 38px;
  }

  .card__btn > button {
    width: 100%;
    font-size: 18px;
    padding: 0;
    height: 68px;
  }
}

@media (max-width: 1260px) {
  .card__conditions {
    width: 160px;
    padding: 9px 1px 10px 25px;
  }

  .conditions-price {
    margin-top: 3px;
  }

  .card__conditions > div > img {
    width: 16px;
  }

  .card__text {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .card {
    margin-top: 32px !important;
  }

  .cards {
    padding: 20px;
    border-radius: 35px;
  }

  .card__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }

  .sliderCard {
    grid-area: 1 / 1 / 3 / 3;
  }

  .card-slider > img {
    border-radius: 20px;
  }

  .card__main {
    grid-area: 1 / 3 / 2 / 5;
    padding-left: 0;
  }

  .card__text {
    grid-area: 3 / 1 / 4 / 5;
    padding-left: 0px;
    margin-top: 18px;
    font-size: 16px;
  }

  .card__price {
    grid-area: 2 / 3 / 3 / 5;
    flex-wrap: wrap;
    gap: 3px;
    margin-top: 17px;
  }

  .card__btn {
    grid-area: 4 / 1 / 5 / 5;
    margin-top: 20px;
  }

  .card__price > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 7px;
    width: 100%;
  }

  .card__conditions {
    width: 100%;
    padding: 3px 1px 10px 17px;
    gap: 15px;
  }
  .conditions-price {
    margin-top: 8px;
  }
  .card__logo {
    gap: 10px;
  }
  .card__logo > img {
    width: 85px;
  }

  .card__item > p {
    font-size: 16px;
    line-height: 20px;
  }

  .card__item > span {
    font-size: 12px;
  }

  .card__like {
    padding: 12px 14px;
  }

  .card__like > img {
    width: 12px;
  }

  .card__like > span {
    font-size: 14px;
  }
  .label {
    top: -40px;
    right: 65px;
    width: 100px;
    height: 41px;
    border-radius: 25px 25px 0px 0px;
    font-size: 32px;
  }

  .label > div {
    padding: 10px 0 0 26px;
  }
}

@media (max-width: 767px) {
  .card__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .cards {
    padding: 7px 13px;
  }

  .card {
    margin-top: 65px !important;
  }

  .sliderCard {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 10px;
  }

  .card__main {
    grid-area: 1 / 1 / 2 / 2;
  }

  .card__text {
    grid-area: 4 / 1 / 5 / 2;
    margin-top: 10px;
    font-size: 16px;
  }

  .card__price {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 20px;
  }

  .card__btn {
    grid-area: 5 / 1 / 6 / 2;
    margin-top: 20px;
  }

  .card-slider > img {
    border-radius: 20px;
  }

  .conditions-price {
    margin: 0;
  }

  .card__conditions {
    padding: 10px 18px;
    gap: 10px;
  }

  .conditions-price > span {
    line-height: 20px;
  }
  .card__price > div {
    grid-row-gap: 7px;
  }

  .card__btn > button {
    font-size: 16px;
    height: 60px;
  }
}

@media (max-width: 425px) {
  .conditions-price > p {
    font-size: 12px;
    line-height: 12px;
  }

  .conditions-price > span {
    font-size: 12px;
  }

  .card__conditions {
    justify-content: start;
    gap: 10px;
  }

  .card__price {
    margin-top: 10px;
  }
  .card__logo {
    gap: 5px;
  }
  .card__item > p {
    font-size: 14px;
    line-height: 19px;
  }
  .label {
    top: -39px;
    right: 54px;
    width: 86px;
    height: 41px;
    font-size: 24px;
  }
}

@media (max-width: 360px) {
  .card__conditions {
    padding: 10px 10px;
  }

  .card__price > div {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}
