footer {
    border-radius: 56px 56px 0px 0px;
    background: var(--bg);
    padding: 40px 60px;
}


.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer>a {
    color: var(--black-gr);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}