footer {
    border-radius: 72px 72px 0px 0px;
    background: var(--bg);
    padding: 40px 50px;
    margin-top: 30px;
}


.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 10px;
}

.footer>a {
    color: var(--black-gr);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 768px) {
    footer {
        border-radius: 72px 72px 0px 0px;
        padding: 20px 0px;
    }

    .footer>a {
        font-size: 14px;

    }
}

@media (max-width: 650px) {
    footer {
        border-radius: 32px 32px 0px 0px;
    }

    .footer {
        justify-content: center;
        row-gap: 20px;
    }

    .footer .logo {
        flex: 1;
    }

    .footer a {
        flex-basis: 100%;
        text-align: center;
        order: 3;
    }

    footer {
        padding: 20px 0px;
    }

    footer .btn-main {
        order: 2;
    }
}