.header__container {
    padding: 40px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__descr {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}


@media (max-width: 768px) {
    .header__container {
        padding: 30px 0px;
    }
}

@media (max-width: 370px) {
    .header__container {
        padding: 15px 0px;
    }
}