.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

#myModal {
  display: none;
}
#thanks {
  display: none;
}

.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.modal__content {
  background-color: var(--white);
  border-radius: 40px;
  padding: 40px 33px 49px 32px;
  width: 93%;
  max-width: 672px;
  max-height: 90vh;
  box-shadow: 0 10px 30px var(--shadow-dark);
  animation: slideIn 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}

.modal__content > div {
  color: var(--black-gr);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: auto;
}

.modal__content > p {
  font-family: "Onest";
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 16px 0 32px 0;
}

.modal__content > a {
  text-align: center;
  padding: 30px 24px;
  font-size: 24px;
}

body.modal-open::before {
  display: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin: 24px 0 17px 0;
  flex-shrink: 0;
}

.modal__close {
  position: absolute;
  top: 28px;
  right: 25px;
  background-color: transparent;
  color: var(--black-gr);
  border: 2.5px solid var(--black-gr);
  border-radius: 10px;
  padding: 7px 10px;
}

#modalTitle {
  font-family: "Unbounded";
  font-size: 38px;
  line-height: 120%;
  text-align: left;
}

.modal__form > button {
  font-size: 24px;
  margin-top: 13px;
  padding: 26px 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -40px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #modalTitle {
    font-size: 24px;
  }
  .modal__content {
    border-radius: 24px;
    padding: 27px 12px 17px 12px;
  }
  .modal__close > svg {
    width: 7px;
  }
  .modal__close {
    top: 13px;
    right: 13px;
    border-radius: 9px;
    padding: 1px 5px;
  }
  .modal__form {
    gap: 12px;
    margin: 24px 0 18px 0;
  }
  .modal__form > button {
    font-size: 16px;
    margin-top: 13px;
    padding: 20px 24px;
  }
  .modal__content > div {
    font-size: 13px;
    line-height: 130%;
  }
  .modal__content > p {
    font-size: 14px;
    margin: 11px 0 27px 0;
    line-height: 120%;
  }

  .modal__content > a {
    padding: 20px 24px;
    font-size: 16px;
  }
}
