      body.modal-open::before {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          /* Полупрозрачный черный */
          backdrop-filter: blur(5px);
          /* Размытие фона */
          z-index: 998;
          /* Ниже модального окна, но выше всего остального */
          display: block;
      }

      .modal {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--shadow-dark);
          z-index: 1000;
          justify-content: center;
          align-items: center;
          animation: fadeIn 0.3s ease;
      }

      .modal__content {
          background-color: var(--white);
          border-radius: 12px;
          padding: 40px;
          width: 90%;
          max-width: 500px;
          box-shadow: 0 10px 30px var(--shadow-dark);
          position: relative;
          animation: slideIn 0.3s ease;
      }

      .modal__close {
          position: absolute;
          top: 15px;
          right: 15px;
          background: none;
          border: none;
          font-size: 28px;
          color: #888;
          cursor: pointer;
          line-height: 1;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: color 0.3s ease;
      }

      .modal__close:hover {
          color: var(--black);
      }

      .modal__title {
          font-size: 28px;
          margin-bottom: 20px;
          color: var(--gray-dark);
          text-align: center;
      }

      .modal__text {
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 30px;
          color: #555;
          text-align: center;
      }

      .modal__form {
          display: flex;
          flex-direction: column;
          gap: 20px;
      }

      .modal__input {
          padding: 15px;
          border: 1px solid #ddd;
          border-radius: 8px;
          font-size: 16px;
          transition: border-color 0.3s ease;
      }

      .modal__input:focus {
          outline: none;
          border-color: var(--blue);
      }


      /* Анимации */
      @keyframes fadeIn {
          from {
              opacity: 0;
          }

          to {
              opacity: 1;
          }
      }

      @keyframes slideIn {
          from {
              transform: translateY(-30px);
              opacity: 0;
          }

          to {
              transform: translateY(0);
              opacity: 1;
          }
      }