.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
/*

.swiper-button-next,
.swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 55% !important;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next::before,
.swiper-button-prev::before {
    content: '';
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-next,
.swiper-button-prev {
    svg {
        width: 0 !important;
    }
}

.swiper-button-next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23212121'%3E%3Cpath d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z'/%3E%3C/svg%3E");
}

.swiper-button-prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23212121'%3E%3Cpath d='M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z'/%3E%3C/svg%3E");
}*/
